@import "tailwindcss";

@theme {
  --color-bg: #22232f;
  --color-bg-2: #323343;
  --color-fg: #e1e1e1;
  --color-fg-2: #959595;
  --color-pr: #4199ff;
  --font-normal:
    -apple-system, BlinkMacSystemFont, "Segoe UI", "Noto Sans", Helvetica, Arial,
    sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
}

.prev::before {
  content: "";
  width: 10px;
  height: 10px;
  border-top: 2px solid #4199ff;
  border-right: 2px solid #4199ff;
  transform: rotate(-135deg) translateY(50%);
  position: absolute;
  top: 39%;
  left: -16px;
  border-radius: 1px;
}
.next::after {
  content: "";
  width: 10px;
  height: 10px;
  border-top: 2px solid #4199ff;
  border-left: 2px solid #4199ff;
  transform: rotate(135deg) translateY(50%);
  position: absolute;
  top: 39%;
  right: -16px;
  border-radius: 1px;
}

html,
body {
  max-width: 100vw;
  min-height: 100vh;
  overflow-x: hidden;
  overflow-y: auto;
}

body {
  background-color: #22232f;
  background-image: repeating-linear-gradient(
    45deg,
    transparent,
    transparent 7px,
    #323343 7px,
    #323343 9px
  );
  background-position: center;
  background-size: cover;
  font-family:
    "Helvetica Neue", Arial, "Hiragino Kaku Gothic ProN", "Hiragino Sans",
    Meiryo, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body > * {
  color: #e1e1e1;
}

* {
  box-sizing: border-box;
}

:root {
  --article-basic-font-size: 1rem;
}

.article_container {
  line-height: 1.8 !important;
  background: #22232f !important;
  overflow: hidden;
}

.article_container > div > :first-child {
  margin-top: 0 !important;
}

.article_container > div * {
  font-size: var(--article-basic-font-size);
}

@media (width <= 40rem) {
  .article_container > div * {
    font-size: calc(var(--article-basic-font-size) * 0.95);
  }
}

.article_container > div > h1,
.article_container > div > h2 {
  font-size: calc(var(--article-basic-font-size) * 1.4);
}

.article_container > div > h1::after,
.article_container > div > h2::after {
  content: "";
  display: block;
  width: 100%;
  height: 1px;
  background-color: var(--color-fg-2);
  opacity: 0.8;
}

.article_container > div > h3,
.article_container > div > h4,
.article_container > div > h5,
.article_container > div > h6 {
  font-size: calc(var(--article-basic-font-size) * 1.1);
}

.article_container > div > h1,
.article_container > div > h2,
.article_container > div > h3,
.article_container > div > h4,
.article_container > div > h5,
.article_container > div > h6 {
  margin: 60px 0 16px !important;
  font-weight: bold !important;
}

.article_container > div > h1 + h2,
.article_container > div > h2 + h3,
.article_container > div > h3 + h4,
.article_container > div > h4 + h5,
.article_container > div > h5 + h6 {
  margin: 16px 0 !important;
}

.article_container p,
.article_container ul,
.article_container ol,
.article_container dl,
.article_container table,
.article_container pre,
.article_container blockquote,
.article_container figure,
.article_container > div > hr {
  margin-bottom: 22px !important;
}

.article_container ul {
  padding-left: 1em;
  list-style: circle;
}
.article_container ol {
  padding-left: 1em;
  list-style: auto;
}

.article_container pre {
  padding: 0 !important;
  background-color: #22232f !important;
}
.article_container pre:has(code) {
  font-size: 0.9em;
  background-color: #011627 !important;
  padding: 0.75rem 0.5rem 0.5em !important;
  overflow-x: scroll;
  line-height: 1.5;
}
.article_container p:has(> em) {
  background-color: #011627 !important;
  padding: 0.9rem !important;
  border-radius: 8px;
  font-size: 14px;
  margin: 36px 0 !important;
}
.article_container p:has(> img) {
  margin-bottom: 46px !important;
  padding: 0 !important;
}

.article_container img {
  display: block !important;
}

.article_container p > img {
  max-width: 640px !important;
  width: 100% !important;
  margin: 0 auto;
}
.article_container img[src*="inline"] {
  display: inline-block !important;
  max-width: 100% !important;
  width: fit-content !important;
  vertical-align: text-bottom;
  margin: 0 0.25em;
}
.article_container p > a {
  color: #4199ff !important;
}
